body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #2f2f2f;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: #c0392b;
}

#score,
#cps,
#timer {
    font-size: 2em;
    margin: 20px 0;
    transition: color 0.3s;
}

button {
    padding: 50px 100px;
    font-size: 3em;
    cursor: pointer;
    background-color: #4db6e4;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #42a5f5;
    transform: scale(1.1);
}

#resetButton {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #221fe0;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#resetButton:hover {
    background-color: #461ce0;
}

footer {
    margin-top: 40px;
    font-size: 1.2em;
    color: #666;
}

#scoreboard {
    margin-top: 30px;
    font-size: 1.5em;
    color: #d32f2f;
}